.invoice{
	margin-bottom: 30px;
}
.invoice h2{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 15px;
}
.invoice-body{
	border: 1px solid #eee;
	padding-top: 17px;
}
.invoice li{
	padding:16px 0; 
}

.invoice .active{
	background: #f8f8f8;
}
.invoice input[type="radio"]{
	margin-left: 158px;
	margin-right: 13px;
	vertical-align: middle;
}
.invoice span{
	margin-left: 47px;
}

.invoice select{
	width: 106px;
	height: 40px;
	border: 1px solid #d9d9d9;
	padding-left: 11px;
	margin-right: 12px;
	background: #fff;
	border-radius: 0;
	margin-left: 34px;
}
.invoice input{
	border: 1px solid #d9d9d9;
	padding-left: 11px;
	height: 40px;
	line-height: 40px;
}
.invoice-payable input{
	width: 426px;
}
.invoice-content select{
	width: 226px;
}
.invoice-payable,
.invoice-content{
	padding-left: 183px;
	margin-top: 20px;
}