@import url('../../base/normalize.css?__inline');
@import url('../../base/base.css?__inline');
@import url('../../base/layout.css?__inline');
@import url('../../modules/header/index.css?__inline');
@import url('../../modules/header2-register/index.css?__inline');
@import url('../../modules/register/index.css?__inline');
@import url('../../modules/copyright/index.css?__inline');
.register-box{
	text-align: center;
	padding-top: 80px;
	padding-bottom: 68px;
	border:1px solid #e0e0e0;
	margin-bottom: 40px;
	margin-top: 38px;
}