@import url(../sidebar/index.css?__inline);
.sidebar:hover ul{
	display: block;
}
.sidebar:hover .sidebar-arrow{
	transform: rotate(180deg);
}
.sidebar>ul{
	display: none;
}
.sidebar-arrow{
	width: 14px;
	height: 8px;
	background-image: url(img/arrow.png?__sprite);
	display: inline-block;
	vertical-align: middle;
	margin-left: 26px;
	transition: all 0.2s linear;
}