.comment-tab{
	margin-bottom: 20px;
	background: #f8f8f8;
}
.comment-tab ul{
	font-size: 0;
}
.comment-tab li{
	display:inline-block;
	padding: 0 25px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	font-weight: bold;
}
.comment-tab .active{
	border-bottom:3px solid #265ab1;
}
.comment-tab a{
	display: block;
}
.comment-tab span{
	color: #265ab1;
}