.floor{
	margin-bottom: 50px;
}
.floor-header{
	text-align: justify;
	height: 30px;
	overflow: hidden;
}
.floor-header h2{
	display: inline-block;
	font-weight: bold;
}
.floor-header h2 span{
	display: inline-block;
	width: 30px;
	height: 27px;
	line-height: 27px;
	text-align: center;
	color: #ffff26;
	background: #0d438c;
	border-radius: 6px 0 6px 0;
	margin-right: 11px;
}
.floor-header:after{
	width: 100%;
	height: 0;
	display: inline-block;
	content: '';
}
.floor-link{
	display: inline-block;
}
.floor-link span{
	margin: 0 10px;
}