.item h1{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}
.item label{
	margin:0 15px;
}
.item-intro{
	font-size: 14px;
	line-height: 23px;
	margin-bottom: 16px;
}
.item-price{
	background: #f7f7f7;
	padding: 19px 0 23px 15px;
	margin-bottom: 14px;
	position: relative;
}
.item-price-r1{
	margin-bottom: 18px;
	font-size: 14px;
}
.item-price-r1 span{
	font-size: 28px;
	color: #ff0000;
}
.item-price-r2{
	color: #999;	
}
.item-price-r2 del{
	margin-right: 40px;
}
.item-information{
	line-height: 24px;
	margin-bottom: 24px;
	padding-left: 15px;
}
.item-information a{
	text-decoration: underline;
	color: #666;
}
.item-rank{
	margin-bottom: 19px;
	padding-left: 91px;
}
.item-rank img{
	margin-right: 8px;
	vertical-align: middle;
	max-width: 30px;
	max-height: 30px;
}
.item-rank label{
	float: left;
	margin-left: -76px;
	margin-top: 12px;
}
.item-rank span{
	letter-spacing: 2em;
}
.item-radio,
.item-radio-small{
	display: inline-block;
	overflow: hidden;
	width: 95px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	border:2px solid #ddd;
	margin-right: 6px;
	margin-bottom: 10px;
}
.item-radio.active,
.item-radio-small.active{
	border-color: #265ab1;
}
.item-radio-small{
	width: 75px;
}
.item-quantity{
	margin-bottom: 38px;
}
.item-quantity-prev,
.item-quantity-next{
	display: inline-block;
	vertical-align: middle;
	text-indent: -999em;
	width: 12px;
	height: 22px;
}
.item-quantity-prev{
	background-image: url(img/prev.png?__sprite);
}
.item-quantity-next{
	background-image: url(img/next.png?__sprite);
}
.item-quantity-input{
	width: 65px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	vertical-align: middle;
	border:1px solid #ddd;
	margin:0 12px;
}

.item-btn-buy,
.item-btn-cart,
.item-btn-disabled{
	width: 156px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	display: inline-block;
	border-radius: 4px;
	font-size: 18px;
}
.item-btn{
	padding-left: 92px;
}
.item-btn-buy{
	background: #ff7e00;
	color: #fff;
	margin-right: 6px;
}
.item-btn-cart{
	color: #fff;
	background: #265ab1;
}
.item-btn-disabled{
	background: #ececec;
}
.item-limit{
	height: 22px;
	line-height: 22px;
	display: inline-block;
	vertical-align: 5px;
	background: #ff3737;
	color: #fff;
	padding: 0 3px;
	margin-right: 10px;
}
.item-time{
	font-weight: normal;
	color: #555;
	position: absolute;
	height: 30px;
	line-height: 30px;
	background: #fff;
	border-radius: 15px;
	padding: 0 14px;
	top: 20px;
	right: 20px;
}
.item-time span{
	color: #ff0000;
}
.item-discount {
	position: relative;
	margin-bottom: 14px;
}
.item-discount li{
	height: 44px;
	line-height: 44px;
	border-bottom: 1px dashed #c6c6c6;
	padding-left: 20px;
}
.item-discount span{
	display: inline-block;
	height: 16px;
	line-height: 16px;
	padding: 0 4px;
	background: #ff3737;
	color: #FFF;
	margin-right: 8px;
}
.item-discount-all{
	color: #888;
	position: absolute;
	top: 16px;
	right: 10px;
}
.item-error{
	color: #ff3737;
	margin-left: 21px;
}