.preferential{
  margin-bottom: 49px;
}
.preferential h2{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}
.preferential-body{
  overflow: hidden;
}
.preferential img{
  float: left;
}
.preferential-text{
  overflow: hidden;
  border:1px solid #ececec;
  border-left: none;
  height: 100%;
  padding: 25px 21px 35px 21px;
}
.preferential h3{
  font-size: 20px;
  margin-bottom: 14px;
}
.preferential h3 a{
  color: #555;
}
.preferential p{
  line-height: 24px;
  color: #555;
  margin-bottom: 24px;
}
.preferential-btn {
  border-radius: 4px;
  background-color: rgb(255, 227, 0);
  width: 150px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  display: inline-block;
}
.preferential-btn-icon{
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background-image: url(img/icon.png?__sprite);
  margin-left: 11px;
}