.goods{
	margin-bottom: 24px;
}
.goods-cart{
	display: inline-block;
	width: 14px;
	height: 13px;
	background-image: url(img/cart.png?__sprite);
	margin-right: 22px;
}
.goods-img{
	height: 140px;
	text-align: center;
	margin-bottom: 28px;
}
.goods-img:after{
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 0;
}
.goods img{
	max-width: 140px;
	max-height: 140px;
}
.goods h3{
	font-size: 14px;
	margin-bottom: 11px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.goods-price{
	font-size: 16px;
	margin-bottom: 20px;
}
.goods-price strong{
	color: #ff0000;
	margin-right: 10px;
}
.goods-price del{
	color: #999;
}

.goods li{
	width: 25%;
	float: left;
	padding:23px;
}
.goods li:hover{
	box-shadow: 0 0 #e5e5e5,
				0 0 6px rgba(0,0,0,0.35);
}
.goods-btn{
	height: 38px;
	line-height: 38px;
	background: #ffe300;
	border-radius: 3px;
	padding-left: 33px;
}
.goods-btn.disabled{
	background: #eee;
}
.goods-btn a{
	display: block;
	font-size: 14px;
}