.limit{
	border:1px solid #e5e5e5;
	border-top: none;
	padding-top: 19px;
	padding-bottom: 20px;
	position: relative;
}
.limit h2{
	font-size: 16px;
	text-align: center;
	margin-bottom: 24px;
}
.limit-time{
	font-size: 14px;
	margin-left: 4px;
}
.limit-time span{
	display: inline-block;
	background: #424241;
	color: #fff;
	border-radius: 2px;
	width: 16px;
	height: 16px;
	text-align: center;
	line-height: 16px;
	margin: 0 4px;
}
.limit ul{
	white-space: nowrap;
	overflow: hidden;
}
.limit li{
	display: inline-block;
	text-align: center;
	width: 100%;
}
.limit li img{
	margin-bottom: 24px;
}
.limit h3{
	font-size: 12px;
	font-weight: normal;
	margin-bottom: 10px;
}
.limit-price span{
	color: #eb393b;
	font-size: 16px;
}
.limit-prev,
.limit-next{
	width: 14px;
	height: 21px;
	position: absolute;
	top: 97px;
	text-indent: -999em;
}
.limit-prev{
	background-image: url(img/prev.png?__sprite);
	left: 18px;
}
.limit-next{
	background-image: url(img/next.png?__sprite);
	right: 18px;
}