.password-seek{
	border:1px solid #e0e0e0;
	margin: 30px 0;
	padding:53px 0 60px 430px;
}
.password-seek label{
	width: 6em;
	text-align: right;
	float: left;
	margin-left: -108px;
	margin-top: 10px;
}
.password-seek ul{
	margin-bottom: 40px;
}
.password-seek li{
	margin-top: 30px;
}
.password-seek p{
	font-size: 14px;
}
.password-seek input {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(217, 217, 217);
  background-color: rgb(255, 255, 255);
  width: 318px;
  height: 42px;
}

.password-seek .password-seek-verify {
  width: 188px;
}
.password-seek-btn {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(217, 217, 217);
  background-color: rgb(244, 244, 244);
  width: 122px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  display: inline-block;
  margin-left: 6px;
}
.password-seek button{
  border-radius: 4px;
  background-color: rgb(38, 90, 177);
  width: 316px;
  height: 40px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border:none;
}
