.help-banner ul{
	margin-left: -16px;
}
.help-banner li{
	float: left;
	margin-left: 16px;
	width: 495px;
	height: 230px;
}
.help-banner li::after{
	content: '\200B';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 0;
}
.help-banner img{
	max-width: 495px;
	max-height: 230px;
	vertical-align: middle;
}
