.need{
	margin-bottom: 24px;
}
.need h2{
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	margin-bottom: 42px;
	border-bottom: 1px solid #eee;
}
.need h2 span{
	display: inline-block;
	border-bottom: 1px solid #ffe300;
	padding-right: 30px;
	position: relative;
	bottom: 1px;
}
.need-img{
	height: 140px;
	text-align: center;
	margin-bottom: 28px;
}
.need-img:after{
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 0;
}
.need img{
	max-width: 140px;
	max-height: 140px;
}
.need h3{
	font-size: 14px;
	margin-bottom: 11px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.need-price{
	font-size: 16px;
	margin-bottom: 20px;
}
.need-price strong{
	color: #ff0000;
	margin-right: 10px;
	vertical-align: middle;
}
.need-price del{
	color: #999;
	vertical-align: middle;
}
.need ul{
	overflow: hidden;
}
.need li{
	width: 20%;
	float: left;
	padding:0 23px 64px;
}
.need-limit{
	color: #fff;
	background: #ff2c2c;
	font-size: 12px;
	display: inline-block;
	padding:2px 3px;
	vertical-align: middle;
	margin-right: 7px;
}