.header{
  background: #f2f2f2;
  line-height: 34px;
  overflow: hidden;
}

.header a:hover{
  color: #0b409a;
}
.header span{
  color: #ccc;
  margin: 0 10px;
}
.header-c1{
	float: left;
}
.header-c1 a{
	margin-right: 20px;
}
.header-c2{
	float: right;
}