
.honour{
	overflow: hidden;
	background-image: url(img/icon.png);
	background-position: center 20px;
	background-repeat: no-repeat;
	padding-top: 70px;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
	border:1px solid #e5e5e5;
	border-top: none;
}
.honour li{
	float: left;
	width: 33%;
	text-align: center;
}